html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    font-size: 12pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*** General container ***/
#container {
  width: 100%;
  height: calc(100% - 77px);
  padding: 0;
  margin: 0;
  list-style: none;

  /* Flexbox CSS from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

/*** Header ***/
#header {
  width: 100%;
  height: auto;
  padding: 20px 50px;
  margin: 0;
  position: relative;
  z-index: 1;

  font-size: 24pt;
  color: #FFFFFF;
  background-color: #BF8E69;

  /* Box-shadow solution from http://stackoverflow.com/questions/9199433/cant-get-box-shadow-to-appear-above-div */
  -webkit-box-shadow: 0px 1px 1px #23272A;
  -moz-box-shadow: 0px 1px 1px #23272A;
  box-shadow: 0px 1px 1px #23272A;
}

/*** Main (game/chatbox) container ***/
#main {
  width: 80%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;

  color: #23272A;
  background-color: #FFFFFF;
}

/*** Game interface ***/
#game {
  width: 100%;
  height: 60%;
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;

  color: #23272A;
  background-color: #A67B5B;
}

table#board {
  width: 450px;
  height: 450px;
  padding: 0;
  margin: auto;

  border-collapse: collapse;
}

/* Fade effect from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
table td {
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0;

  text-align: center;
  vertical-align: middle;

  border: 2px solid #23272A;
}

.boardPlace {
  width: 150px;
  height: 150px;

  opacity: 0.0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

  background-image: url("./X.svg");
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: 10px;
}

.boardPlace-marked {
  width: 150px;
  height: 150px;
  background-image: url("./X.svg");
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: 10px;
}

.boardPlace input[type=checkbox] {
  visibility: hidden;
}

.boardPlace:hover {
  opacity: 0.5;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

  cursor: pointer;
}

.marked {
  opacity: 1;
}

.unmarked {

}


/* Table with no outside border from http://stackoverflow.com/questions/1257430/css-border-only-inside-the-table */
table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

/*** Chatbox ***/
#chat {
  width: 100%;
  height: 40%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

#chat-messages {
  width: calc(100% - 40px);
  height: calc(100% - 97px);
  padding: 20px;
  margin: 0;
  overflow: auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column-reverse nowrap;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;

  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

/* Chatbox message styling from http://stackoverflow.com/questions/20627807/jquery-chat-box-show-first-messages-at-bottom-of-div-moving-up */
#chat-messages div {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  margin: 5px;
  padding: 10px;
}

#chat-entrybox {
  width: calc(100% - 40px);
  height: auto;
  padding: 20px;
  margin: 0;
}

/* Textbox styling from http://www.w3schools.com/css/css_form.asp */
#chat-entrybox input[type=text] {
  width: calc(100% - 16px);
  height: auto;
  padding: 5px;
  margin: 0;

  transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;

  font-size: 12pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 3px solid #DDDDDD;
}

#chat-entrybox input[type=text]:focus {
  border: 3px solid #99AAB5;
}

/*** Sidebar ***/
#sidebar {
  width: 20%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  justify-content: flex-start;

  color: #ACB1B5;
  background-color: #2C2F33;

  /* Box-shadow solution from http://stackoverflow.com/questions/9199433/cant-get-box-shadow-to-appear-above-div
  -webkit-box-shadow: -2px 0px 1px #23272A;
  -moz-box-shadow: -2px 0px 1px #23272A;
  box-shadow: -2px 0px 1px #23272A;*/
}

.sidebar-header {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0;
  position: relative;

  font-size: 24pt;
  color: #FFFFFF;
  background-color: inherit;
}

#sidebar label {
  border-bottom: 1px solid rgba(172, 177, 181, 0.5);
}

#sidebar label:nth-child(3) {
  border-bottom: 0;
}

.sidebar-item {
  width: 100%;
  height: auto;
  padding: 15px 15px 15px 20px;
  margin: 0;
  position: relative;

  font-size: 16pt;
}

.sidebar-item:hover {
  color: #FFFFFF;
  background-color: #23272A;
  cursor: pointer;
}

.sidebar-item input[type=radio] {
  margin-right: 1em;
}

.sidebar-buttons {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
}

/* Button press effect from http://www.w3schools.com/css/css3_buttons.asp */
#sidebar input[type=reset], #sidebar input[type=submit] {
  width: 175px;
  height: auto;
  padding: 10px;
  margin: 15px auto;

  font-size: 16pt;
  font-weight: bold;
  background-color: #FFFFFF;

  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 8px #999999;
}

#sidebar input[type=reset]:hover, #sidebar input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0 4px #999999;
  transform: translateY(4px);
}

#sidebar input[type=reset]:active, #sidebar input[type=submit]:active {
  background-color: #DDDDDD;
  cursor: pointer;
  box-shadow: 0 0 #999999;
  transform: translateY(8px);
}

#sidebar input[type=reset] {
  color: #AA381E;
}

#sidebar input[type=submit] {
  color: #556B2F;
}

#playerTurn {
  color: #556B2F;
}
